{#<h4>Votre annonce est maintenant visible</h4>#}
<p>Félicitation {{ app.user.username }}</p>

<br/>
<p>
    Votre annonce est maintenant publiquement visible. Afin de la faire rémonter dans les résultats<br/>
    de recherche suivez ces conseils.<br/>
    - Garder votre agenda à jour. Une annonce dont l'agenda a été recemment mis à jour<br/>
      apparaitra plus haut dans les résultats de recherche.<br/>
    - Vous avez 48H pour accepter ou refuser une demande. Quel que soit votre choix ne laissez pas <br/>
      vos demandes expirer au risque de chuter dans les classements.<br/>
    - Repondez rapidement aux demandes que vous recevez, le temps de réponse étant pris en compte dans les classements<br/>
      des résultats ( en plus c'est apprécié des utilisateurs ).<br/><br/>

</p>